.pagecontact {
	height: 700px !important;
	.wrapper {
		margin-top: 70px;
		margin-left: 25%;
		margin-right: 25%;
		.bottom {
				padding-top: 15px;
			}
	}
}


.contactscontainer {
			width: 700px;
			margin-left: -20%;
			margin-right: 25%;
			background: rgba(255,255,255,.95);

			//float: center;
			.top {
				height: 80px;
				span {
					display: block;
					text-transform:uppercase;
					text-align:left;
					line-height: 58px;
					color:$green;
					padding-left:40px;
					padding-top: 20px;
					font-size:25px;
					margin-top: 20px;
					font-weight:500;
				}

				.bottom{
					padding-bottom: 20px;
					
				}
				.active {
					background: #fff;
				}
			}
			.bottom {
				padding: 40px;
				p{
					font-weight: 300;
				}	
			}
		}