.pagecontact {
	min-height: 700px;
}

.contactscontainer {
			width: 65%;
			margin: auto;
			background: rgba(255,255,255,.6);
			border-radius: 8px;
			text-align:left;
			.top {
				height: 80px;
				span {
					display: block;
					text-transform:uppercase;
					line-height: 58px;
					color:$green;
					padding-left:40px;
					padding-top: 20px;
					font-size:25px;
					margin-top: 20px;
					font-weight:500;
				}

				.bottom{
					padding-bottom: 20px;
					
				}
				.active {
					background: #fff;
				}
			}
			.bottom {
				padding: 40px;
				p{
					font-weight: 300;
					color: #777;
					line-height: 1.5;
				}	
			}
		}