.footer {
	width:100%;
	height:60px;
	background:#fff;
	padding:20px 0;
	border-top:1px solid #eee;
	.left {
		@include span-columns(5);
	}
	.right {
		@include span-columns(5);
		@include shift(2);
		text-align: right;
		color:$darkgray;
	}
	ul {
		list-style: none;
		li {
			float:left;
			margin-right:20px;
			a {
				color:$darkgray;
			}
		}
	}
}