.header {
	width:100%;
	height: 65px;
	background:rgba(255, 255, 255,1);
	padding:0;
	position:fixed;
	top:0;
	z-index:900;
	border-bottom: solid 1px #eee;
	
	.wrapper {
		max-width:95%;
	}

	.logo {
		@include span-columns(2);
		float:left;
		a:hover {
			text-decoration: none;
		}
		span {
			color:#333;
			font-weight: 100;
			font-size: 25px;
			margin-top:16px;
			display:block;
			strong {
				font-size: inherit;
				font-weight: 700;
				color:$green;
			}
		}
	}
	#id-form-header-search{
			@include span-columns(6);
			margin-left: 11%;
			#header-search{
				margin-top: 13px;
			}
		}
	#id-btn-logout{
		@include span-columns(2);
		float:right;
		height: auto;
		margin-right:0;
		margin-top: 13px;
	}
	.login {
		@include span-columns(6);
		@include shift(4);
		margin-top:12px;

		form {
			overflow: visible;
			.col {
				@include span-columns(2 of 6);
			}
			input[type=submit] {
				height:auto;
			}
			input {
				margin-top: 2px;
			}
		}
	}
}

