.signup {
	height: auto;
	.wrapper{
		margin-top: 180px !important;
		.contactscontainer {
			width: 50%;
			margin: auto;
			background: rgba(255,255,255,.6);
			border-radius: 8px;
			text-align:left;

			.top {
				height: 80px;
				span {
					display: block;
					text-transform:uppercase;
					text-align:left;
					line-height: 58px;
					color:$green;
					padding-left:40px;
					padding-top: 20px;
					font-size:25px;
					margin-top: 20px;
					font-weight:500;
				}

			}
			.bottom {
				padding: 30px;
				input[type=submit]{
					margin-bottom: 0;
				}
				p{
					font-weight: 300;
					color: #777;
					line-height: 1.5;
				}	
			}
		}
	}
}