.sidebar {
	background:#eee;
	padding:100px 30px 50px;
	z-index: -1;
	form{
		padding-left: 15px;
	}
	h3 {
		margin-top: 0px;
	}
	.fixed {
		position:fixed;
		width: 20%;
	}
	.row {
		width:100%;
		clear:both;
		float:left;
		margin-bottom: 20px;
	}
	.select-style {
		width: auto;
		float:right;
	}
}