.signup {
	height: auto;
	.wrapper{
		margin-top: 180px !important;
		.container {
			width: 50%;
			margin: auto;
			background: rgba(255,255,255,.6);
			border-radius: 8px;
			text-align:left;

			.top {
				height: 80px;
				span {
					display: block;
					text-transform:uppercase;
					text-align:left;
					line-height: 48px;
					color:$green;
					padding-left:20px;
					padding-top: 20px;
					font-size:25px;
					margin-top: 20px;
					font-weight:500;
				}
			}
			.bottom {
				padding: 20px;
				#signup-error{
					font-weight: 300;
					font-size: 13px;
					color: red;
					line-height: 1.5;
					visibility: hidden;
				}	
			}
		}
	}
}