/* INCLUDE FONTS */
@import url('http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700');


/* END INCLUDE FONTS */
* {
    font-family: 'Roboto', sans-serif;
    font-size:14px;
}

p, li, span, h1, h3, h4, h5, h6{
    
   
}
h1 {

}
h2 {  
    color:$gray;
}
h3 {
     color:$darkgray;
     font-weight: 300;
     font-size:25px;
}
h4 {
    font-size: 17px;
}
h5 {
    
}
p {
	color:$gray;
	font-size:16px;
    font-weight: 300;
}
a {
    text-decoration:none;
    font-size: 16px;
    &:hover {
        text-decoration: underline;
    }
}
strong {
    
}
