* {
	margin:0;
	padding:0;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}
html, body {
	width:100%;
	height:100%;
}
header, nav, section, article, aside, footer {
   display:block;
}
.container {	
	section {
		width: 100%;
		overflow: hidden;
	}
}
.error {
	color:red !important;
	border-color:red !important;
}
.wrapper {
	@include outer-container;	
	@include media(tablet) {
		width: 90%;
	}
}
.base {
	
}
form {
	width:100%;
	overflow:hidden;
}
input, textarea {
	width:100%;
	color:#777;
	
}
section {
	width: 100%;
	overflow: hidden;
	clear: both;
}
.everythingcentered {
	overflow:hidden;
	padding:50px 0;
	h2 {
	 	text-align: center;
	}
	p {
		text-align: center;
	}
}
.hide {
	display: none;
}
.show {
	display:block;
}
:required {
 	border:1px solid #eee;
 	box-shadow:none;
 	outline:none;
}
input:required:focus {
  border: 1px solid red;
  outline: none;
}