* {
	margin:0;
	padding:0;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}
html, body {
	width:100%;
	height:100%;
}
header, nav, section, article, aside, footer {
   display:block;
}
.container {	
	section {
		width: 100%;
		overflow: hidden;
	}
}
.error {
	color:red !important;
	border-color:red !important;
}
.wrapper {
	@include outer-container;	
	@include media(tablet) {
		width: 90%;
	}
}
.base {

}
form {
	width:100%;
	overflow:hidden;
}
input, textarea {
	width:100%;
	color:#777;
	
}
section {
	width: 100%;
	overflow: hidden;
	clear: both;
}
.everythingcentered {
	overflow:hidden;
	padding:50px 0;
	h2 {
	 	text-align: center;
	}
	p {
		text-align: center;
	}
}
.hide {
	display: none;
}
.show {
	display:block;
}
:required {
 	border:1px solid #ddd;
 	box-shadow:none;
 	outline:none;
}
input:required:focus {
  border: 1px solid red;
  outline: none;
}
.loader {
	width:100%;
	height:100%;
	position:fixed;
	z-index:9000;
	background:rgba(0,0,0,.7) url(../img/loader.gif) no-repeat center center;
	background-size:80px;	
}

.table { 
    display:table;
    width:100%;
    height:100%;
}

.sidebar {
    width:380px;
    height:100%;
    background:silver;
    display:table-cell;
    white-space:nowrap;
    vertical-align: top;
}

.content {
    height:100%;
    display:table-cell;
    vertical-align: top;
}

/*********************/
/** jRating CSS **/
/*********************/

.rating {
	background-color: $lightgreen;
}


/**Div containing the color of the stars */
.jRatingAverage {
	/**background-color:#f62929;*/
	background-color:$green;
	position:relative;
	top:0;
	left:0;
	z-index:2;
	height:100%;
}
.jRatingColor {
	background-color:$green; /* bgcolor of the stars*/
	position:relative;
	top:0;
	left:0;
	z-index:2;
	height:100%;
}

/** Div containing the stars **/
.jStar {
	position:relative;
	left:0;
	z-index:3;
}

/** P containing the rate informations **/
p.jRatingInfos {
	position:		absolute;
	z-index:9999;
	background:	transparent url('../img/jrating_info_bg.png') no-repeat;
	color:			$green;
	display:		none;
	width:			91px;
	height:			33px;	
	font-size:14px;
	text-align:center;
	padding-top:6px;
}
	p.jRatingInfos span.maxRate {
		color:$gray;
		font-size:14px;
	}