.details {
	background: #fff;
	min-height:1000px;
	overflow:hidden;
	.content {
		.title{
			padding: 0 25px;
		}
		.row {
			padding: 45px 60px;
			margin: 75px 0;
			margin-bottom: 0px;
			width: 100%;
			overflow:auto;
			&.top {
				> div {
					float:left;
				}
				border-bottom: 1px solid #eee;
				padding:40px 35px;
				padding-top:15px;
				.title {
					h3 {
						line-height: 40px;
					}
					// p {
					// 	font-size: 15px;
					// 	line-height: 22px;
					// }
				}
				.rating {
					float: left;
					margin-top: 28px;
					margin-left: 30px;
				}
				.right {
					float: right;
					margin-top: 9px;
					width: 100px;
					margin-right: 50px;
					a {
						display: inline-block;
						margin-left: 20px;
						img {
							width: 28px;
						}
					}
				}
			}
			.ratingbigger {
				margin-left: 40px;
				margin-top: 4px;
			}
		}

		.classdesc, .closedetails{
			background: #eee;
			margin:0px;
			.left {
				float:left;
				width:15%;
				color:#777;
			}
			.right {
				float:left;
				width:80%;
			}
		}
		.classdesc {
			.left {
				h4{
					margin:0px;
				}
			}
			.right {
				float:left;
				width:80%;
				p{
					font-weight: 300;
					font-size: 15px;
					line-height: 20px;
				}
				overflow:hidden;
			}
		}	
		.closedetails {
			.right {
				.detail {
					width: 85%;
					i {
					display: inline-block;
					height:100%;
					width: auto;	
					}
					p {
						position: relative;
						top:-40px;
						left:70px;
						font-size: 14px;
					}
				}
			}
		}
		.two{
			background:white;
			margin-top: 55px;
			.left{
				h4{
					margin-top: 20px;
				}
			}
			.right{
				.review{
					padding: 20px 0 15px 0;
					border-top: 1px solid #eee;
					border-bottom: 1px solid #eee;
					clear:both;
					// .tag{
					// 	margin-bottom: 10px;
					// }
					.rating{
						padding-bottom: 20px;
					}
					.action{
						display: inline-block;
						margin-top: 15px;
						margin-bottom: 10px;
						padding-right: 10px;
						color: #aaa;
						font-size: 12px;
					}
					/*.comment, .upvote{
						cursor: pointer;
					}
					.comment-thread{
						p{
							font-size: 12px;
							padding-left: 10px;
							padding-top: 15px;
							padding-bottom: 15px;
							background-color: #eee;

						}
					}*/
				}
				.review-textbox{
					clear: both;
					margin-bottom: 15px;
					margin-top: 15px;
					height: auto;
					background: #eee;
					padding: 15px;
					
					//overflow: auto;
					.add-review{
						overflow: auto;
					}
					textarea{
						@include span-columns(4 of 6);
						clear:both;
						margin: 10px 0 10px 0;
					}
					input{
						@include span-columns(2 of 6);
						//float: right;
						height: auto;
					}
					.add-review-btn {
						margin: 2% 6%;
					}
					.add-rating{
						margin-top: 5px;
						margin-bottom: 10px;
						font-size: 15px;
						overflow:auto;
						.ratingbigger{
							margin: 0 5px 0 0;
						}
					}
					/*
					.add-comment-btn {
						margin-top: 10px;
						margin-right: 7px !important;
					}*/
				}
				input[type="submit"]{
					margin-top: 20px;
					@include span-columns(3);
				}
				/*
				.comment-textbox{
					display:none;
					margin-bottom:30px;
					overflow: hidden;
					width:100%;
					float: right;
					height: 60px;
				}*/
			}
		}
	}
}