.header {
	width:100%;
	background:rgb(255,255,255);
	background:rgba(255,255,255,.95);
	padding:0;
	position:fixed;
	top:0;
	z-index:900;
	.logo {
		@include span-columns(3);
		height:50px;
		float:left;
		a:hover {
			text-decoration: none;
		}
		span {
			color:#333;
			font-weight: 100;
			font-size: 25px;
			margin-top:15px;
			display:block;
			strong {
				font-size: inherit;
				font-weight: 700;
				color:$green;
			}
		}
	}
	.login {
		@include span-columns(6);
		@include shift(3);
		margin-top:10px;

		form {
			overflow: visible;
			.col {
				@include span-columns(2 of 6);
			}
			input[type=submit] {
				height:auto;
			}
			input {
				margin-top: 2px;
			}
		}
	}
}

